* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

main {
  display: block;
}

img {
  vertical-align: bottom;
  bottom: none;
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
}

video,
object {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.Topconteiner {
  width: 100%;
}
.Topconteiner__Topimage {
  width: 70%;
  height: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 250px;
}
@media (max-width: 1280px) {
  .Topconteiner__Topimage {
    margin-top: 450px;
    width: 70%;
    height: 70%;
  }
}
@media (max-width: 530px) {
  .Topconteiner__Topimage {
    width: 100%;
    height: 100%;
    margin-top: 350px;
  }
}
.Topconteiner__Secondheadingtext {
  text-align: center;
  margin-top: 20px;
  font-family: YuMincho, "Yu Mincho";
  color: black;
  font-size: 30px;
  opacity: 0;
}
@media (max-width: 1280px) {
  .Topconteiner__Secondheadingtext {
    font-size: 25px;
  }
}
@media (max-width: 530px) {
  .Topconteiner__Secondheadingtext {
    font-size: 20px;
  }
}
.Topconteiner .Topimage {
  width: 100%;
  height: 100%;
}

.Descriptionitemconteiner {
  width: 100%;
  margin-top: 250px;
  display: flex;
  justify-content: center;
  opacity: 0;
}
@media (max-width: 530px) {
  .Descriptionitemconteiner {
    display: block;
  }
}
.Descriptionitemconteiner__Secondheadingtext {
  font-family: YuMincho, "Yu Mincho";
  color: black;
  font-size: 35px;
}
@media (max-width: 1280px) {
  .Descriptionitemconteiner__Secondheadingtext {
    font-size: 25px;
  }
}
@media (max-width: 530px) {
  .Descriptionitemconteiner__Secondheadingtext {
    font-size: 17px;
  }
}
.Descriptionitemconteiner__Secondheadingtext .RedBorderLine {
  border-bottom: solid 3px red;
}
.Descriptionitemconteiner__Secondheadingtext .Newline {
  display: block;
  margin-left: 40px;
}
.Descriptionitemconteiner .Secondimage {
  width: 50%;
  height: 50%;
  margin-left: auto;
}
@media (max-width: 530px) {
  .Descriptionitemconteiner .Secondimage {
    width: 100%;
    height: 100%;
  }
}

.Descriptionitemsecondconteiner {
  width: 100%;
}
.Descriptionitemsecondconteiner__Secondheadingtext {
  font-family: YuMincho, "Yu Mincho";
  color: black;
  font-size: 45px;
  margin-top: 250px;
  text-align: center;
  opacity: 0;
}
@media (max-width: 1280px) {
  .Descriptionitemsecondconteiner__Secondheadingtext {
    font-size: 28px;
  }
}
@media (max-width: 530px) {
  .Descriptionitemsecondconteiner__Secondheadingtext {
    font-size: 20px;
  }
}
.Descriptionitemsecondconteiner__Images {
  display: block;
  text-align: center;
}

.Descriptionite__HeaddingSecondtext {
  font-family: YuMincho, "Yu Mincho";
  color: black;
  font-size: 45px;
  margin-top: 350px;
  margin-bottom: 350px;
  text-align: center;
  opacity: 0;
}
@media (max-width: 1280px) {
  .Descriptionite__HeaddingSecondtext {
    font-size: 30px;
  }
}
@media (max-width: 530px) {
  .Descriptionite__HeaddingSecondtext {
    font-size: 30px;
  }
}

.Descriptionitemthrdconteiner {
  width: 100%;
}
.Descriptionitemthrdconteiner__Secondheaddingtext {
  font-family: YuMincho, "Yu Mincho";
  color: black;
  font-size: 45px;
  margin-top: 350px;
  margin-bottom: 350px;
  text-align: center;
}
@media (max-width: 1280px) {
  .Descriptionitemthrdconteiner__Secondheaddingtext {
    font-size: 28px;
  }
}
@media (max-width: 530px) {
  .Descriptionitemthrdconteiner__Secondheaddingtext {
    font-size: 20px;
  }
}
.Descriptionitemthrdconteiner__Secondheaddingtext .Secondnewline {
  margin-top: 100px;
  display: block;
  text-align: center;
  opacity: 0;
}
@media (max-width: 1280px) {
  .Descriptionitemthrdconteiner__Secondheaddingtext .Secondnewline {
    font-size: 30px;
    margin: 0 auto;
  }
}
@media (max-width: 530px) {
  .Descriptionitemthrdconteiner__Secondheaddingtext .Secondnewline {
    font-size: 30px;
    margin: 0 auto;
  }
}
.Descriptionitemthrdconteiner__image {
  width: 70%;
  height: 70%;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  box-shadow: 0px 0px 50px black;
}
@media (max-width: 530px) {
  .Descriptionitemthrdconteiner__image {
    width: 80%;
    height: 80%;
  }
}

.Inductionconteiner {
  width: 100%;
  margin-top: 350px;
  margin-bottom: 350px;
  opacity: 0;
}
.Inductionconteiner__Secondheaddingtext {
  font-family: YuMincho, "Yu Mincho";
  color: black;
  font-size: 45px;
  text-align: center;
}
@media (max-width: 1280px) {
  .Inductionconteiner__Secondheaddingtext {
    font-size: 30px;
  }
}
@media (max-width: 530px) {
  .Inductionconteiner__Secondheaddingtext {
    font-size: 20px;
  }
}
.Inductionconteiner .Thrdnewline {
  display: block;
  margin-left: 30%;
  line-height: 60px;
  align-items: center;
}
@media (max-width: 1280px) {
  .Inductionconteiner .Thrdnewline {
    line-height: 25px;
    font-size: 30px;
  }
}
@media (max-width: 530px) {
  .Inductionconteiner .Thrdnewline {
    font-size: 20px;
    line-height: 30px;
    margin-left: 50%;
  }
}
.Inductionconteiner .DAISOlogo {
  width: 10%;
  height: 10%;
  transition: all 0.3s ease;
}
@media (max-width: 530px) {
  .Inductionconteiner .DAISOlogo {
    width: 30%;
    height: 30%;
  }
}
.Inductionconteiner .DAISOlogo:hover {
  opacity: 0.75;
}

@media (max-width: 530px) {
  .Fourmewline {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */